<div class="w-100 pt-3" >
<ul class=" row nav navbar-nav ">
    <li class="nav-item">
        <h6 class="font_bold text-center"> <span class="text-danger">Livraison Gratuite </span> pour tous les commandes</h6>
        <h6 class="text-left ml-md-5" style="  margin-top: -35px;"> <i class="fab fa-teamspeak fa-2x"></i></h6>
       
    <div class=" float-right ">
        <ul class="myul">
         <li class="myli" ><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
         <li class="myli"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="myli"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> 
          <li class="myli"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> 
   </ul>
    </div></li> 
</ul>



 
</div>