.imgproduct{
width: 80%; 
height: 300px; 
border-radius: 21px 21px 0 0;
}
.price_font{
font-family: 'Fira Sans Condensed', sans-serif;
}
#sidebar {
 min-width: 270px;
 max-width: 270px;
 background: #ffffff;
 color: rgb(49, 49, 49);
 -webkit-transition: all 0.3s;
 -o-transition: all 0.3s;
 transition: all 0.3s;
 position: relative; 
 margin-top: 30px;
 border-bottom-right-radius:30px;
 border-top-right-radius:20px;
 box-shadow: 4px 13px 20px 0px #0000000a;}
 #sidebar .h6 {
     color: rgb(49, 49, 49); }
 #sidebar.active {
   margin-left: -270px; }

#sidebar ul.components {
  padding: 0; }
#sidebar ul li {
font-size: 16px; }
#sidebar ul li > ul {
margin-left: 10px; }
#sidebar ul li > ul li {
  font-size: 14px; }
#sidebar ul li a {
font-weight: 900;
font-size: smaller;
padding: 10px 0;
display: block;
color: rgb(46, 46, 46);
border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
#sidebar ul li a span {
color: #def657; }
#sidebar ul li a:hover {
color: #def657;
text-decoration: none;
cursor: pointer; }
#sidebar ul li.active > a {
background: transparent;
color: rgb(49, 49, 49); }
#sidebarCollapse  {
z-index: 2;
color: black; } 
@media (max-width: 991.98px) {
#sidebar {
margin-left: -270px; }
#sidebar.active {
margin-left: 0; } }
#sidebar .custom-menu {
 display: inline-block;
 position: absolute;
 top: 20px;
 right: 0;
 margin-right: -20px;
 -webkit-transition: 0.3s;
 -o-transition: 0.3s;
 transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
 #sidebar .custom-menu {
-webkit-transition: none;
-o-transition: none;
transition: none; } }
#sidebar .custom-menu .btn {
width: 60px;
height: 60px;
border-radius: 50%;
position: relative; }
#sidebar .custom-menu .btn i {
margin-right: -40px;
font-size: 14px; }
#sidebar .custom-menu .btn.btn-light {
background: transparent;
border-color: transparent; }
#sidebar .custom-menu .btn.btn-light:after {
z-index: -1;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
content: '';
box-shadow: 20px 7px 9px 0px #00000003;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
background: #ffffff;}
#sidebar .custom-menu .btn.btn-light:hover, #sidebar .custom-menu .btn.btn-light:focus {
 background: transparent !important; 
box-shadow: none;}
@media (max-width: 991.98px) {
#sidebarCollapse span {
  display: none; } }
#content {
width: 100%;
padding: 0;
height: auto;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; }

#clockdiv {
  background-color: #8f12ff;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;

  width: 100%;
padding: 0;
height: auto;
}

#clockdiv > div {
  padding: 30px;
  display: inline-block;
}

#clockdiv div > span {
  border-radius: 3px;
  background: #fafafa;
  margin: 0 5px;
  padding: 3px 6px;
  display: inline-block;
}

.smalltext {
  /* padding-top: 5px; */
  font-size: 10px;
  font-weight: 600;
  color: #d1d1d1;
}

.footr_buy {
  background-color: #e2ff3f;
  color: #240043;
  padding: 5px 15px;
  border-radius: 26px;
  
} .footr_buy:hover{
  background-color: #2a2a2a;
  color: #e2ff3f;
  text-decoration: none ;
}
.dot_time {
  color: #fff;
  padding: 0;
  margin: 0;
  margin: 0 -11px;
}
.offercopy {
  background-color: #f72585;
  color: #fff;
  padding: 4px 13px;
  border: 2px dashed #ffc400;
  border-radius: 7px;
  margin: 0 5px;
  cursor: pointer;
}
.bg_forprod{
  background-image: linear-gradient(rgba(0, 0, 0, 0.748), rgba(0, 0, 0, 0)) ,url("https://images.unsplash.com/photo-1577538928305-3807c3993047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: auto;
}
