<app-header></app-header>

<div class="container w-50 text-center h-100 mt-5">
  <h3 class="font_bold mt-5">Modification du mot de passe</h3>
 
  <form [formGroup]="userresetpasswordForm" class="mt-5" (ngSubmit)='updatepassword()'>


    <div class="row">
      <div class="col">
        <label for="password" class="font_bold mb-0" style="font-size: 12px;">Entrer le nouveau mot de passe :</label>
        <div class="input-group">
        <input [ngClass]="{'is-invalid': password.invalid && password.dirty , 'is-valid': !password.invalid}" style="border-top-left-radius: 36px; border-bottom-left-radius: 36px;" [type]="fieldTextType ? 'text' : 'password'" id="password"  formControlName="password" class="form-control">
     
        <span class="input-group-text bg-transparent" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 36px; border-bottom-right-radius: 32px;">
          <i class="fa fa-eye-slash" [ngClass]="{
            'fa-eye-slash': !fieldTextType,
            'fa-eye': fieldTextType
          }"
          (click)="showpassword()"></i>
        </span></div>
      </div> </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger validationerrorstyle">
  
    <div *ngIf="password.errors.required">
      mot de passe obligatoire.
    </div>
    <div *ngIf="password.errors.minlength">
      le mot de passe doit contenir plus de 6 caractères.
    </div>
    </div>
   


    <div class="row">
      <div class="col">
        <label for="confirmpassword" class="font_bold mb-0" style="font-size: 12px;">Conformer le nouveau mot de passe :</label>
    <div class="input-group">     
      <input type="text" id="confirmpassword" style="border-top-left-radius: 36px; border-bottom-left-radius: 36px;" [ngClass]="{'is-invalid': confirmpassword.invalid && password.dirty, 'is-valid': !confirmpassword.invalid }" [type]="fieldTextType2 ? 'text' : 'password'"  formControlName="confirmpassword" class="form-control ">
        <span class="input-group-text bg-transparent" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 36px; border-bottom-right-radius: 32px;">
          <i class="fa fa-eye-slash" [ngClass]="{
            'fa-eye-slash': !fieldTextType2,
            'fa-eye': fieldTextType2
          }"
          (click)="showcofirmpassword()"></i>
        </span>
      </div> </div> </div>
      <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
      class="alert alert-danger validationerrorstyle">
  
    <div *ngIf="confirmpassword.errors.required">
      la confirmation du mot de passe est obligatoire.
    </div>
    <div *ngIf="confirmpassword.errors.notSame">
      mot de passe non concordant.
    </div>
    </div>
    <button  type="submit" [ngClass]="{'disabled': userresetpasswordForm.invalid}"  class="btn rounded-pill shadow btncommande font_bold mt-3" style="font-size: 14px;" >Modifier le mot de passe</button>
  
  </form>

</div>
