<div class="container">
<app-sub-header></app-sub-header></div>
<app-header></app-header>


<div class="container w-100 mt-3 p-5" style="background: rgb(36,0,22);
background: linear-gradient(71deg, rgba(36,0,22,1) 0%, rgba(0,232,255,1) 0%, rgba(0,255,111,1) 100%); border-radius: 17px;">
    <div class="jumbotron bg-light text-dark jumbotron-fluid text-center " style="border-radius: 17px;">
        <div class="container">
          <h1 class="display-4 font_bold">COPRA <samp style="color: #00a9af;">#food</samp> </h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
<div class="row p-5">
    <div   class="col-lg-3 col-sm-12" *ngFor="let pbcf of probycoprafood" >
    <div class="product-grid " >
        <div class="product-image" >
            <a style="cursor: pointer;" [routerLink]="['/products',pbcf._id]" >
                <img class="pic-1" src="{{ pbcf.img_1}}" >
                <img class="pic-2" src="{{ pbcf.img_3}}">
            </a>
            <ul class="social" >
                <li><a href=""  data-tip="Aperçu rapide"><i class="fa fa-search"></i></a></li>
                <li><a href="" [class.disabled] = "pbcf.quantity < 1"  data-tip="Mettre dans cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <span class="product-new-label font_bold">EN STOCK</span>
            <span class="product-discount-label nbr_font font_bold" style="font-size: 13px;">-20%</span>
        </div>
        <ul class="rating">
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star"></li>
            <li class="fa fa-star disable"></li>
        </ul>
        <div class="product-content">
            <h3 class="title"><a style="cursor: pointer;"   [routerLink]="['/products',pbcf._id,currentuser._id ]" >{{ pbcf.name }}</a></h3>
            <div class="price">{{ pbcf.price | currency : 'MAD'}}
                <span>{{ pbcf.price_off | currency : 'MAD'}}</span>
            </div>
            <!-- <a class="add-to-cart" href="">+ Ajouter au panier</a> -->
        </div>
   
    </div>
</div>
</div> </div>
