.bgimg {
    background-image: url('/assets/images/copraheader.png');
    height: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}


@media only screen and (max-width: 600px) {
    .bgimg {
        background-image: url('../img/myshop_header_mobile.jpg');
        height: 100%; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
   
}

