<div class="aboutus-area ">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-lg-12 ">
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">    
                <div class="aboutus-image float-left hidden-sm"><img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" style="border-radius: 27px;" alt=""></div>
                </div>
            <div class="col-lg-11 col-md-8 col-sm-6 col-xs-12">
                <div class="aboutus-content  ">
                    <h1 class="font_bold">Qui somme nous?</h1>
                    <p class="font_light" style="font-size: medium;">Le Lorem Ipsum est simplement du faux texte emplimplement du faux texte emplimplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsu00, quand un imprimeur anonyme assembla ensemble desx texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble desx texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles.</p>
                    <button type="button"  [routerLink]="[ '/about' ]" class="btn  btn-sm rounded-pill btncommande shadow" style="float: right;">Savoir plus</button>
                    <div class="counter ">
                        
                        <div class="single-counter text-center">
                            <h2 >1500</h2>
                            <p>Clients satisfaits</p>
                        </div>
                        
                        <div class="single-counter text-center">
                            <h2 >100</h2>
                            <p>Partenaire</p>
                        </div>
                        
                        <div class="single-counter text-center">
                            <h2 >5</h2>
                            <p>Branches</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>    
            </div>
        </div>
    </div>
</div>

