<app-header></app-header>
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4 font_bold">Qui somme nous?</h1>
          <p class="lead text-muted mb-0">My shop store Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.</p>
        
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="assets/images/aboutheader.png" alt="" draggable="false" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fas fa-concierge-bell fa-2x mb-3 text-dark"></i>
          <h2 class="font_normale">Les services qu'ont vous propose</h2>
          <p class="font_light mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><button href="#" class="btn btn-sm btncommande rounded-pill shadow">Savoir plus</button>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/images/aboutservice.png" alt=""  draggable="false" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="assets/images/aboutteam.png" alt="" draggable="false" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fas fa-users fa-2x mb-3 text-dark"></i>
          <h2 class="font_normale">Notre equipe qui est deriere tout ça</h2>
          <p class=" font_light mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><button href="#" class="btn btn-sm rounded-pill btncommande shadow">Savoir plus</button>
        </div>
      </div>
    </div>
  </div>
  

