<div class="container ">
    <h1 class="h3 font_bold">Recommandations<span style="color: rgb(146, 146, 146);">(Nouveauté)</span>  </h1>
    <div class="row ">
     
      <ngx-slick class="carousel col-lg-12" [config]="slideConfig">
        <div ngxSlickItem  *ngFor="let product of products" class="slide">
            <div class="product-grid mb-3">
                <div class="product-image" >
                    <a style="cursor: pointer;" [routerLink]="['/products',product._id]" >
                        <img class="pic-1" src="{{ product.img_1}}" >
                        <img class="pic-2" src="{{ product.img_3}}">
                    </a>
                    <ul class="social" >
                        <li><a href=""  data-tip="Aperçu rapide"><i class="fa fa-search"></i></a></li>
                        <li><a href="" [class.disabled] = "product.quantity < 1"  data-tip="Mettre dans cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label font_bold">EN STOCK</span>
                    <span class="product-discount-label nbr_font font_bold" style="font-size: 13px;">-20%</span>
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a style="cursor: pointer;"   [routerLink]="['/products',product._id,currentuser._id ]" >{{ product.name }}</a></h3>
                    <div class="price">{{ product.price | currency : 'MAD'}}
                        <span>{{ product.price_off | currency : 'MAD'}}</span>
                    </div>
                    <!-- <a class="add-to-cart" href="">+ Ajouter au panier</a> -->
                </div>
           
            </div>
        </div>
 
      </ngx-slick>


    </div>
    <h1 class="h3 font_bold " style="margin-top: 150px;">ACHETER <span style="color: rgb(146, 146, 146);">(Par Catégorie)</span> </h1>


    <div class="container">
      <div class="grid">
          <div class="row">
              <div class="col-md-2">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/838875/pexels-photo-838875.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="280px" alt="electro" />
                      <figcaption>
                          <h2><span>BAUTÉ</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>
                          </p>
                      </figcaption>
                  </figure>
              </div>
              <div class="col-md-4">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="280px" alt="img25" />
                      <figcaption>
                          <h2><span>Nouveauté</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>
              </div>
              <div class="col-md-4">
                <figure class="effect-ravi">
                    <img src="https://images.pexels.com/photos/298842/pexels-photo-298842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="280px" alt="maison" />
                    <figcaption>
                        <h2><span>Maison</span></h2>
                        <p>
                            <a href="#"><i class="fa fa-search"></i></a>

                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-2">
              <figure class="effect-ravi">
                  <img src="https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="280px" alt="mode" />
                  <figcaption>
                      <h2><span>MODE</span></h2>
                      <p>
                          <a href="#"><i class="fa fa-search"></i></a>
                      </p>
                  </figcaption>
              </figure>
          </div>
          </div>
          <div class="row">
              <div class="col">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/2292953/pexels-photo-2292953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="450px" alt="img25" />
                      <figcaption>
                          <h2><span>Promos</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>
              </div>
              <div class="col">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/2533266/pexels-photo-2533266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="450px" alt="img25" />
                      <figcaption>
                          <h2><span>Recommendations</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/1161547/pexels-photo-1161547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" height="450px" width="100%"  alt="img25" />
                      <figcaption>
                          <h2><span>COPRA#original</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>

              </div>
          </div>


          <div class="row">
              <div class="col-md-4">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="550px" height="250px" alt="img17" />
                      <figcaption>
                          <h2><span>ELECTRONIC</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>
                          </p>
                      </figcaption>
                  </figure>
              </div>
              <div class="col-md-4">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/755992/pexels-photo-755992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" width="550px" height="250px" alt="img25" />
                      <figcaption>
                          <h2><span>TENDANCE</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>
              </div>
              <div class="col-md-4">
                  <figure class="effect-ravi">
                      <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" width="550px" height="250px" alt="img25" />
                      <figcaption>
                          <h2><span>COPRA#food</span></h2>
                          <p>
                              <a href="#"><i class="fa fa-search"></i></a>

                          </p>
                      </figcaption>
                  </figure>
              </div>
          </div>

      </div>

  </div>
              
  
</div>
