.myheader{
    background-image: url('../img/tendence.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 600px !important;
    border-radius: 69px;
}
 h3.h3{
    text-align:center;
    margin:60px;
    text-transform:capitalize;
    font-size:40px;
}



.product-grid .product-discount-label,.product-grid .product-new-label{
    color:rgb(243, 243, 243);
    font-weight: 700;
    background-color:#ff1c1c;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size:22px;
    text-transform:uppercase;
    padding:2px 7px;
    display:block;
    position:absolute;
    top:10px;
    left:0
}


@media only screen and (max-width:990px){
    .product-grid{
        margin-bottom:30px;
        padding: 0 !important;
    }
    h3.h3{
        margin:20px;
        font-size:40px;
    }
   
}
@media only screen and (max-width: 600px) {
    h3.h3{
        margin:20px;
        font-size:40px;
    }
    .product-grid{
        margin-bottom:30px;
        padding: 0 !important;
    }
    .myheader{
        height: auto !important;
        margin-top: 250px !important;
    }
    
  }