
<div class="container myheader p-4 my-5">
    <h3 class="h3 font_bold">TOP <span class="nbr_font text-danger">4</span> AUJOURD'HUI AU MAROC</h3>
    <div class="row ml-md-2 px-3" >
        <div class="col-lg-3 col-sm-12" *ngFor="let product of products; let i = index">
            <div class="product-grid ">
                <div class="product-image">
                    <a [routerLink]="['/products',product._id]">
                        <img class="pic-1"  src="{{ product.img_1 }}">
                        <img class="pic-2"  src="{{ product.img_2 }}">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Aperçu rapide"><i class="fa fa-search"></i></a></li>
                        <li><a href="" [class.disabled] = "product.quantity < 1" data-tip="Mettre à ma cart"><i class="fa fa-shopping-cart"></i></a></li>
                        
                    </ul>
                    <span class="product-new-label">{{i + 1}}</span>
                   
                </div>
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                </ul>
                <div class="product-content">
                    <h3 class="title"><a [routerLink]="['/products',product._id,currentuser._id]">{{ product.name }}</a></h3>
                    <div class="price">{{ product.price }} MAD
                        <span>20.00 MAD</span>
                    </div>
                    <!-- <a class="add-to-cart" href="">+ Add To Cart</a> -->
                </div>
            </div>
        </div>
 


    </div>
</div>