.borderless td, .borderless th {
  border: none !important;
}
.btnsearch{
  color: #252525;
}.btnsearch:hover{
  color: #5d5d5d;
  text-decoration: none;
}
.mysearchcontent{
  position: absolute;
  z-index: 2 !important;
  border-radius: 37px;
  background-color: #f7f9ff;
  box-shadow: 0px 15px 12px 0px #0000000f;
  max-width: 400px ;
}
  .s003 form {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin-bottom: 0;
   
  }
  
  .s003 form .inner-form {
    background: #f7f9ff;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 53px;
    height: 40px;
    z-index: -1;
  }
  
  .s003 form .inner-form .input-field {
    height: 68px;
  }
  
  .s003 form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 12px;
    color: #555;
  }
  
  .s003 form .inner-form .input-field input.placeholder {
    color: #888;
    font-size: 12px;
  }
  
  .s003 form .inner-form .input-field input:-moz-placeholder {
    color: #888;
    font-size: 12px;
  }
  
  .s003 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #888;
    font-size: 12px;
  }
  
  .s003 form .inner-form .input-field input:hover, .s003 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
    z-index: -2;
  }
  
  .s003 form .inner-form .input-field.first-wrap {
    width: 105px;
    border-right: .5px solid rgba(0, 0, 0, 0.1);
    height: 20px;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    height: 100%;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 30px;
    z-index: -2;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    opacity: 1;
    color: #888;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    color: #555;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices[data-type*="select-one"]:after {
    right: 30px;
    border-color: #e5e5e5 transparent transparent transparent;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
    border: 0;
    background: #fff;
    padding: 20px 30px;
    margin-top: 2px;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background: #fff;
    color: #e1ff4b;
  }
  
  .s003 form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
    color: #555;
    min-height: 24px;
  }
  
  .s003 form .inner-form .input-field.second-wrap {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  
  .s003 form .inner-form .input-field.third-wrap {
    width: 74px;
  }
  
  .s003 form .inner-form .input-field.third-wrap .btn-search {
    height: 65px;
    width: 100%;
    white-space: nowrap;
    color: rgb(58, 58, 58);
    border: 0;
    cursor: pointer;
    background: #e1ff4b;
    transition: all .2s ease-out, color .2s ease-out;
    border-radius: 30px;
  }
  
  .s003 form .inner-form .input-field.third-wrap .btn-search svg {
    width: 16px;
  }
  
  .s003 form .inner-form .input-field.third-wrap .btn-search:hover {
      color: rgb(224, 224, 224);
    background: #252525;
  }
  
  .s003 form .inner-form .input-field.third-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
  }
  
  @media screen and (max-width: 992px) {
    .s003 form .inner-form .input-field {
      height: 50px;
    }
  }
  

@media only screen and (min-width: 320px) and (max-width: 480px){
.header_image1{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo_mobile1.png?alt=media&token=004b8313-2acc-4e43-a42e-0e80cae27d3a") !important; 
  height: auto;
 }
 .header_image2{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo_mobile2.png?alt=media&token=0b1f5e27-0a9e-4aaa-894b-70e20f88d95d") !important; 
  height: auto;
 }
 .fix-hiden-dt{
  display: inline-block !important;
  margin-top: 15px;
  margin-bottom: 15px;
 } 
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  .header_image1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo_mobile1.png?alt=media&token=004b8313-2acc-4e43-a42e-0e80cae27d3a") !important; 
    height: auto;
   }
   .header_image2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo_mobile2.png?alt=media&token=0b1f5e27-0a9e-4aaa-894b-70e20f88d95d") !important; 
    height: auto;
   } 
   .fix-hiden-dt{
    display: inline-block !important;
    margin-top: 15px;
    margin-bottom: 15px;
   } 
}
  
 .custom-select{
     margin-top: -3px;
     border: none;
     font-weight: 900;
     height: 30px;
     border-radius: 50px;
     background-color:#f7f9ff ;
     font-size: 12px;
 }
 .header_image1{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo3.png?alt=media&token=a737b86a-c390-4577-9724-b0ce7fb77669"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 600px;
 }
 .header_image2{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/copra-shop.appspot.com/o/jambo2.png?alt=media&token=5a40c1f5-ddf5-437a-a465-806a6b7f6e76"); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 600px;
 }